<nav class="header navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="header__logo">
            PRIMATE
        </div>

        <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 headerNavList">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Top
                    </a>
                    <ul class="dropdown-menu text-dark">
                        <li>Tshirt</li>
                        <li>Shirt</li>
                        <li><hr class="dropdown-divider"></li>
                        <li>Something else here</li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Bottom
                    </a>
                    <ul class="dropdown-menu">
                        <li>Pant</li>
                        <li>Lower</li>
                        <li><hr class="dropdown-divider"></li>
                        <li>Something else here</li>
                    </ul>
                </li>
            </ul>

            <!-- <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
            <div class="headerRightSideSection">
                <div class="headerSearch">
                    <i class='bx bx-search-alt-2' onmouseover="this.classList.add('bxs-search-alt-2')" onmouseout="this.classList.remove('bxs-search-alt-2')"></i>
                </div>
        
                <div class="headerWishList"> 
                    <i class='bx bx-heart' onmouseover="this.classList.add('bxs-heart')" onmouseout="this.classList.remove('bxs-heart')"></i> 
                </div>
        
                <div class="headerProfile"> 
                    <i class='bx bx-user' onmouseover="this.classList.add('bxs-user')" onmouseout="this.classList.remove('bxs-user')"></i> 
                </div>
        
                <div class="headerCart"> 
                    <i class='bx bx-cart' onmouseover="this.classList.add('bxs-cart')" onmouseout="this.classList.remove('bxs-cart')"></i> 
                </div>
            </div>
        </div>
    </div>
</nav>




<!-- <div class="header">
    <div class="header__logo">
        PRIMATE
    </div>
    <nav class="header__nav">
        <ul class="headerNavList">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Top
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Bottom
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="headerRightSideSection">
        <div class="headerSearch">
            <i class='bx bx-search-alt-2' onmouseover="this.classList.add('bxs-search-alt-2')" onmouseout="this.classList.remove('bxs-search-alt-2')"></i>
        </div>

        <div class="headerWishList"> 
            <i class='bx bx-heart' onmouseover="this.classList.add('bxs-heart')" onmouseout="this.classList.remove('bxs-heart')"></i> 
        </div>

        <div class="headerProfile"> 
            <i class='bx bx-user' onmouseover="this.classList.add('bxs-user')" onmouseout="this.classList.remove('bxs-user')"></i> 
        </div>

        <div class="headerCart"> 
            <i class='bx bx-cart' onmouseover="this.classList.add('bxs-cart')" onmouseout="this.classList.remove('bxs-cart')"></i> 
        </div>
    </div>
</div> -->