@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    padding: 20px 30px;
}

.header__logo {
    font-size: 2rem;
    color: #00A19c;    
    font-style: italic;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

.headerNavList {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    margin: auto;
}

.headerNavList li a {
    margin: 0 20px;
    color: #EFF5F9;
}

.headerNavList li a {
    margin: 0 20px;
    color: #EFF5F9;
}

.headerRightSideSection {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EFF5F9;
    gap: 20px;
    font-size: 1.3rem;
}

.headerProductListCOntainer {
    position: relative;
}

.headerProductList {
    width: 300px;
    position: absolute;
    background: white;
    border-radius: 5px;
    top: 40px;
    padding: 20px;
}

.dropdown-menu {
    padding: 11px 23px;
    width: 200px;
    left: 15%;
}

@media (max-width: 991px) {
    .headerNavList {
        align-items: start;
        margin-top: 30px;
    }

    .headerRightSideSection {
        margin-top: 35px;
    }
}