<div class="header">
    <div class="header__logo">
        PRIMATE
    </div>
    <nav class="header__nav">
        <ul class="headerNavList">
            <li>Top</li>
            <li>Bottom</li>
        </ul>
    </nav>
    <div class="headerRightSideSection">
        <div class="headerSearch"> <i class='bx bx-search-alt-2'></i> </div>
        <!-- <div class="headerSearch"> <i class='bx bxs-search-alt-2'></i> </div> -->

        <div class="headerWishList"> <i class='bx bx-heart' ></i> </div>
        <!-- <div class="headerWishList"> <i class='bx bxs-heart' ></i> </div> -->

        <div class="headerProfile"> <i class='bx bx-user' ></i> </div>
        <!-- <div class="headerProfile"> <i class='bx bxs-user' ></i> </div> -->

        <div class="headerCart"> <i class='bx bx-cart' ></i> </div>
        <!-- <div class="headerCart"> <i class='bx bxs-cart' ></i> </div> -->
    </div>
</div>